/* index.html */
.topics-container {
  grid-template-columns: repeat(1, 1fr);
}

/* game.html */
.container-game {
  width: 100%;
}

.container-lives-tries {
  flex-direction: column;
}

.container-score-combo {
  flex-direction: column;
}

#question {
  text-wrap: balance;
}

#form {
  & input {
    width: 100%;
  }

  & button {
    width: 100%;
  }
}

.container-game-controls {
  width: 100%;
  flex-direction: column;

  & .btn-skip-question {
    width: 100%;
  }

  & .btn-back-to-menu {
    width: 100%;
  }

  & .btn-get-lives {
    width: 100%;
  }
}

/** game over/finished section **/
.container-final-stats {
  display: flex;
  flex-direction: column;
}

/** tutorial.html **/
.container-tutorial {
  width: 100%;
}

ul {
  padding-left: 2rem;
}