/** Global styles */
:root {
  --btnDangerColor: #e92f2f;
  --btnDangerHoverColor: #c91b1b;
  --bodyColor: #181717;
  --cardColor: #222121;
  --textColor: #ffffff;
  --borderColor: #7c7a7a;
  --btnColor: #49a1e9;
  --btnHoverColor: #338fda;
  --footerColor: #582c8a;
  --gameContainerColor: #d4d1d1;
  --blackColor: #000000;
  --userLivesColor: #5bbd63;
  --userLivesFontColor: #113314;
  --userTriesColor: #e0b55d;
  --userTriesFontColor: #3d3015;
  --userComboColor: #e46d6d;
  --userComboFontColor: #642222;
  --userScoreColor: #af6af0;
  --userScoreFontColor: #3d1e5a;

  --shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.70);
  --fontSize: 2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bodyColor);
  color: var(--textColor);
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

.btn {
  width: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: var(--btnColor);
  font-size: var(--fontSize);
}

.btn-back-to-menu {
  background-color: var(--btnDangerColor);
  box-shadow: var(--shadow);
  color: var(--textColor);
  transition: transform .3s ease;
}

.btn-back-to-menu:hover {
  background-color: var(--btnDangerHoverColor);
  transform: scale(1.1);
}

h1 {
  font-size: 4rem;
  text-decoration: underline;
}

h2 {
  margin: 0;
}

p {
  font-size: var(--fontSize);
  margin: 0;
}

img {
  width: 100%;
}

a {
  all: unset;
}

ul {
  text-align: left;
  margin: 0;
  font-size: var(--fontSize);
}

/** Main **/
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;


  & .btn-tutorial {
    width: fit-content;
    color: var(--textColor);
    transition: transform 0.3s ease;
  }

  & .btn-tutorial:hover {
    background-color: var(--btnHoverColor);
    transform: scale(1.1);
  }
}

.topics-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.topic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem;
  background-color: var(--cardColor);

  & img {
    border-radius: 0.5rem;
  }

  & a {
    width: fit-content;
    transition: transform 0.3s ease;
  }

  & a:hover {
    background-color: var(--btnHoverColor);
    transform: scale(1.1);
  }
}

footer {
  height: 10rem;
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--footerColor), var(--bodyColor));

  & a {
    font-size: var(--fontSize);
    cursor: pointer;
    text-decoration: wavy underline;
    transition: transform 0.3s ease;
  }

  & a:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}

/** Game **/
.container-game {
  width: min(70%, 120rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto 2rem auto;
  background-color: var(--gameContainerColor);
  color: var(--blackColor);
  border-radius: 0.5rem;
  padding: 2rem;
}

.container-user-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & p {
    margin: 0;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
  }
}

.container-lives-tries {
  display: flex;
  gap: 2rem;

  & .lives {
    background-color: var(--userLivesColor);
    color: var(--userLivesFontColor);
  }

  & .tries {
    background-color: var(--userTriesColor);
    color: var(--userTriesFontColor);
  }
}

.container-score-combo {
  display: flex;
  gap: 2rem;

  & .combo {
    background-color: var(--userComboColor);
    color: var(--userComboFontColor);
  }

  & .score {
    background-color: var(--userScoreColor);
    color: var(--userScoreFontColor);
  }
}

#question {
  margin: 2rem auto;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & input {
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--borderColor);
    font-size: var(--fontSize);
    box-shadow: var(--shadow);
  }

  & input:focus {
    outline: none;
  }

  & .btn-submit {
    font-size: var(--fontSize);
    box-shadow: var(--shadow);
    color: var(--textColor);
    transition: transform 0.3s ease;
  }

  & .btn-submit:hover {
    background-color: var(--btnHoverColor);
    transform: scale(1.1);
  }
}

.container-game-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  & .btn-skip-question {
    box-shadow: var(--shadow);
    background-color: var(--btnDangerColor);
    color: var(--textColor);
    transition: transform 0.3s ease;
  }

  & .btn-skip-question:hover {
    background-color: var(--btnDangerHoverColor);
    transform: scale(1.1);
  }
}

/** Game Finished section **/
.container-game-finished {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & h1 {
    margin: 0;
  }

  & p {
    margin: 0;
  }
}

.container-final-stats {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  & p {
    padding: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    font-size: var(--fontSize);
  }

  & .score {
    background-color: var(--userScoreColor);
    color: var(--userScoreFontColor);
  }

  & .lives {
    background-color: var(--userLivesColor);
    color: var(--userLivesFontColor);
  }

  & .correct-answer-count {
    background-color: #e08236;
    color: #61340e;
  }

  & .incorrect-answer-count {
    background-color: #e73131;
    color: #440808;
  }
}

/** Tutorial Section **/
.container-tutorial {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.card-tutorial {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--cardColor);
  padding: 2rem;
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & li {
    padding-left: 1rem;
  }

  & li::marker {
    content: '->';
  }

  & span {
    font-weight: 700;
  }
}

.tutorial-lives {
  color: var(--userLivesColor);
}

.tutorial-tries {
  color: var(--userTriesColor);
}

.tutorial-combo {
  color: var(--userComboColor);
}

.tutorial-score {
  color: var(--userScoreColor);
}

/** Mobile **/
@media screen and (max-width: 768px) {

  /* index.html */
  .topics-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* game.html */
  .container-game {
    width: 100%;
  }

  .container-lives-tries {
    flex-direction: column;
  }

  .container-score-combo {
    flex-direction: column;
  }

  #question {
    text-wrap: balance;
  }

  #form {
    & input {
      width: 100%;
    }

    & button {
      width: 100%;
    }
  }

  .container-game-controls {
    width: 100%;
    flex-direction: column;

    & .btn-skip-question {
      width: 100%;
    }

    & .btn-back-to-menu {
      width: 100%;
    }
  }

  /** game over/finished section **/
  .container-final-stats {
    display: flex;
    flex-direction: column;
  }

  /** tutorial.html **/
  .container-tutorial {
    width: 100%;
  }

  ul {
    padding-left: 2rem;
  }
}

/** Swal **/
.swal2-popup {
  font-size: 20px;

  & .swal2-actions {
    padding: 1rem;
  }

  & h2 {
    padding: 1rem;
  }

  & button {
    box-shadow: var(--shadow);
    text-transform: uppercase;
    font-size: var(--fontSize);
    font-weight: 700;
    width: 100%;
    transition: transform 0.3s ease;
  }

  & button:hover {
    transform: scale(1.1);
  }
}